:root{
    --first-color: #2E3440;    ;  
    --second-color: #4C566A ;  
    --third-color: #5E81AC;    ;  
    --fourth-color: #88C0D0;    ;
    --fiveth-color: #EBCB8B;  
}

*{
    font-family: 'Ubuntu Mono', monospace;
}

body{
    background-color: var(--first-color);
}

.container {
    margin: 0 0 1rem;
    height: 35rem;
    display: flex;
    /* align-items por defecto tiene el valor `stretch` */
    align-items: start;
}
.center-h {
justify-content: center;
}
.center-v {
align-items: center;
}
.child {
padding: .2rem;
border: 4px solid var(--second-color);
border-radius: 8px;
height: 290px;
width: 266px;
}

.numero, .igual, .borrar, .cero{
    padding: 0px;
    width: 45px;
    height: 53px;                                                                              
    font-size: 20px;
    margin: 1px;
    color: var(--fourth-color);
    background-color: var(--first-color);
    border-radius: 8px;
    border: 2px solid var(--second-color);
    outline: none;
    transition: 350ms;
}
#igual:hover, #cero:hover{
    background-color: rgba(238, 88, 88, 0.753);
}
.numero:hover, .borrar:hover, .igual:hover{
    background-color: var(--second-color) ;
}
table{
    background-color: var(--first-color);
}

fieldset{
    height: auto;
    background-color: var(--first-color);
    border: 4px solid var(--second-color);
    border-radius: 8px;
}
#txtEntry{
    margin-top: 5px;
    height: 20px;
    font-size: 20px;
    width: 220px;
    margin-left: 5px;
    background-color: var(--first-color);
    color: var(--fourth-color);
    /* border-radius: 8px; */
    /* border: 2px solid var(--second-color); */
    text-align: right;
}